name = "agent-analytics-test"
main = "src/platforms/cloudflare.js"
compatibility_date = "2024-01-01"
account_id = "139518248fb33aa103fcd01dda727d2b"

[[d1_databases]]
binding = "DB"
database_name = "agent-analytics-test-q"
database_id = "c4ed8d6a-0f81-4df5-baff-17485b0284ba"

[vars]
ALLOWED_ORIGINS = "*"
